<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>493525378767-4r040q07f88rob0uj1igm3tppk3hebgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493525378767-4r040q07f88rob0uj1igm3tppk3hebgb</string>
	<key>API_KEY</key>
	<string>AIzaSyBp80NF24pGqtJbHrvw5qvRjqIy9m5Axu0</string>
	<key>GCM_SENDER_ID</key>
	<string>493525378767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JuanEnriquez.StarWars</string>
	<key>PROJECT_ID</key>
	<string>starwars-1ad5f</string>
	<key>STORAGE_BUCKET</key>
	<string>starwars-1ad5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493525378767:ios:469074c7e076c687</string>
	<key>DATABASE_URL</key>
	<string>https://starwars-1ad5f.firebaseio.com</string>
</dict>
</plist>